
@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito-Regular.ttf') format('truetype');
}


.main-header {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-top: 10px;
  min-height: 600px;  
  height: 100%;
  background: linear-gradient(#D3D3D3, transparent 70%),
              linear-gradient(0deg, #D3D3D3, transparent),
              #D3D3D3 url('../img/PersonalBest.JPG') no-repeat center;
  background-size: cover;
 }


body {
  margin: auto;  
}

#logo {
	display: inline-block;
	float: left;
	margin-top: auto;
	padding-top: 20px;
	padding-bottom: 15px;
	margin-left: 5%;
}

#logo img {
	height: 113px;
	width: 200px;
}

#menu {
	font-family: 'Nunito';
	font-size: 1.2em;
	text-align: center;
	padding-top: 18px;
	padding-bottom: 5px;
}

ul {
	list-style: none;
}

ul li {
	display: inline-block;
	width: 100px;
	padding-bottom: 20px;
}

ul li a {
	width: 100%;
}

ul li.selected {
	color: #0000ff;  /* blue */
	
}

ul li.selected a {
	color: #CC0000;  /* red */
}

#title {
	clear:both;
	text-align: center;
	font-size: 1.625rem; /* 26px/16px */
	letter-spacing: .065em;
	font-weight: 200;
	color: #CC0000;   /* red */
	border-top: 2px solid;
	padding-top: 10px;
	border-bottom: 2px solid;
	padding-bottom: 10px;
	margin-top: 40px;
	margin-bottom: 40px;
}


h1 {
	clear:both;
	font-size: 5.625rem; /* 90px/16px  */
	font-weight: normal;
	text-align: center;
	color: #CC0000;  /* red */
	text-shadow: 0 1px 1px rgba(0,0,31,.8);
	margin: 12px ;
}


.alissa_info {
	overflow: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	border-bottom: 2px solid;
	border-bottom-color: #CC0000;  /* red */
}

.alissa {
	width: 20%;
	height: 20%;
	max-height: 283.66px;
	max-width: 227.6px;
	float: left;
	margin-left: 5%;
	padding-top: 25px;
	padding-right: 20px;
}

.bio {
	display: block;
	font-family: 'Nunito';
	font-size: 1.2em;
	text-align: justify;
	margin-right: 5%;
	margin-left: 5%;

}

.sam_info {
	overflow: auto;
	margin-top: 40px;
	margin-bottom: 20px;
	border-bottom: 2px solid;
	border-bottom-color: #CC0000;  /* red */
}

.sam {
	width: 20%;
	height: 20%;
	max-height: 283.66px;
	max-width: 227.6px;
	float: left;
	margin-left: 5%;
	margin-top: 5px;
	padding-right: 20px;
	margin-bottom: 40px;
}

.s_bio {
	display: block;
	font-family: 'Nunito';
	font-size: 1.2em;
	text-align: justify;
	margin-right: 5%;
	margin-left: 5%;
	padding-bottom: 40px;
}

.katie_info {
	overflow: auto;
	margin-top: 40px;
	margin-bottom: 20px;
}

.katie {
	width: 20%;
	height: 20%;
	max-height: 283.66px;
	max-width: 227.6px;
	float: left;
	margin-left: 5%;
	margin-top: 5px;
	padding-right: 20px;
	margin-bottom: 40px;
}

.k_bio {
	display: block;
	font-family: 'Nunito';
	font-size: 1.2em;
	text-align: justify;
	margin-right: 5%;
	margin-left: 5%;
	padding-bottom: 40px;
}

table {
  clear:both;
  max-width: 960px;
  margin: auto;
  padding-top: 20px;
  margin-bottom: 40px;
  padding-bottom: 40px;
}


caption {
	font-size: 2.625rem; /* 90px/16px  */
	font-weight: normal;
	text-align: center;
	color: #CC0000;  /* red */
	text-shadow: 0 1px 1px rgba(0,0,31,.8);
  
}

thead th {
  background: #f2f2f2;   /* light white  */
}

tr {
  background: #E5E4D7;  /*  light gray  */
}

tr:nth-child(even) {
  background: #f2f2f2;   /* light white  */
}

th, td {
  font-family: 'Nunito';
  font-size: 1.3em;
  padding: 10px;
}

td {
	text-align: center;
	color:  #b30000;
	/*  #333333 ;  */
	/*  #f2f2f2    light white  */
}



.secondary-content {
	font-family: 'Nunito';
	font-size: 1.3em;
	text-align: center; 
	margin-left: 20px;	
	padding-bottom: 40px;
}

.secondary-content  div {
	display: inline-block;
	width: 400px;
	padding-left: 20px;
	padding-right: 20px;
}

h3 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.nerium-content {
	font-family: 'Nunito';
	font-size: 1.3em;
	text-align: center;
	padding-bottom: 40px;
}

.contact {
	font-family: 'Nunito';
	font-size: 1.3em;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 20px;
}

.facebook {
	font-family: 'Nunito';
	font-size: 1.3em;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 20px;
}

.map-content {
	font-family: 'Nunito';
	font-size: 1.3em;
	float: bottom;
	text-align: center;
	padding-bottom: 40px;
}

/* Pseudo-classes ------------------ */

a:link {
	
	text-decoration: none;
	color: #000099;  /* blue */
	
}

a:visited {
	color: /* #00004C; */   /* darker blue */
	#1155CC; /* blue */
}

a:hover {
	color: #8b7d6b;   /* gray */
}

a:active {
	color: #CC0000;  /* red */
}



.main-footer {
  clear: both;
  text-align: center;
  padding-top: 10px;  
  padding-bottom: 20px;
  border-bottom: 10px solid #CC0000;  /* red */
  margin-bottom: 20px;
}



/* Media Queries -------------------- */

/** 
Modify CSS to hide links on small width and show button and select
Also hides select and button on larger width and show's links
**/

@media (min-width: 217px) and (max-width: 568px) {
  #menu ul {
    display:none;
  }
  #logo {
	  padding-top: 10px;
	  margin-left: 15%;
  }
  #logo img {
	height: 57px;
	width: 100px;
	}
  h1 {
	clear:both;
	text-align: center;
	font-size: 4.0rem;
	padding-top: 20px;
  }
  .secondary-content  div {
	display: inline-block;
	width: auto;
	}
}

@media (min-width: 568px) {
  #menu select, #menu button {
    display:none;
  }
}

@media (max-width: 568px) {
	.map-content iframe {
		display: none;
	}
	.alissa, 
	.katie {
		display: none;
	}
	.bio {
		float: none;
	}
}



